[Desktop Entry]
Name=Configure
GenericName=Configure
Comment=Attendance management system
Icon=/usr/share/pixmaps/obconf.xpm
Path=/home/pi/RFIDattend
Exec=python Configure2_7.py
Type=Application
Terminal=false
